/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between; /* Espacio entre logo y nav */
    align-items: center;
    background: #333;
    color: #fff;
    padding: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.container-one {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
.logo {
    margin-right: 0;
    font-size: 18px; 
    
}

.logo h1 {
    margin: 0; 
}
.language-switcher {
   
    margin-left: 0; 
  
}
#language-select {
    margin-left: 0; 
    padding: 0.25rem; 
   
}
nav {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;  
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 10px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.social-icons a {
    color: #efe7e7;
    font-size: 24px;
    margin-left: 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077b5; /* Color al pasar el mouse (azul por defecto, puede ser ajustado) */
}

.social-icons a:hover.fa-github {
    color: #333; /* Color al pasar el mouse (gris oscuro de GitHub) */
}

.profile-picture {
height:400px;
border-radius: 2%;
float: left; /* Coloca la imagen a la izquierda*/
margin-right: 20px; /* Añade un margen a la derecha para separar la imagen del texto */
margin-top: 5%;
margin-left: 10%;
margin-bottom: 8%;
}

section {
    overflow: hidden; /* Asegura que el contenedor se expanda para contener tanto la imagen como el texto */
}
.my-name{
    margin-top: 10%;
    font-size: 50px;
    margin-bottom: 0;
    padding-left: 10px;
}
.about-me {
    margin-right: 5%;
    text-align: justify;
    padding-left: 5%;
}
/* Proyectos */
.projects-title {
    display:flex;
    padding-left:10px;

}
    

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 300px; /* Ajusta el ancho según tu preferencia */
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-card a {
    text-decoration: none;
    color: inherit;
}

.project-info {
    padding: 15px;
    text-align: center;
}

.project-info h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    position:fixed;
    bottom: 0;
    width: 100%;
}
.textanalizer {
    height: 300px;
    margin-left: 20%;
}
.textanalizer-screen-description {
    margin-left: 20%;
}

.title-textanalizer, .description-textanalizer, .Technologies-used, .links {
    margin: 10px;
}
.gilmoregirls {
    height: 300px;
    margin-left: 20%;
    
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills i {
    font-size: 36px; /* Ajusta el tamaño según sea necesario */
    margin: 10px; /* Espaciado entre los iconos */
}


/* Responsive styles */
@media (max-width: 575px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 1rem;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    .social-icons {
        margin-top: 1rem;
    }
}
@media (max-width: 575px) {
    .container-one {
        flex-direction: row; /* Alinea horizontalmente en pantallas pequeñas */
        justify-content: center;
    }

    .logo {
        margin-bottom: 0;
    }

    .language-switcher {
        margin-left: 5px; /* Espacio ajustado en pantallas pequeñas */
    }
}


